<%- include('parts/html-head') %>
<%- include('parts/navbar') %>
<div class="container">
  <h2><%= name %></h2>
  <p>123456</p>
</div>
<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>



